version: '3.1'
services:
  odoo-ee:
    image: odoo:13.0
    depends_on:
      - odoo-db
    ports:
      - "${ENV_HOST_PORT}:8069"
    volumes:
      - type: bind
        source: /var/data/accounterprise/odoo
        target: /var/data/odoo
      - type: bind
        source: /var/data/production-backups/accounterprise/
        target: /var/data/backups
      - ./conf:/etc/odoo
      - ./third_party_addons:/mnt/extra-addons
      - /opt/odoo/enterprise:/opt/odoo/enterprise
    environment:
      - HOST=odoo-db
      - USER=usr_odoo
      - PASSWORD_FILE=/run/secrets/postgresql_password
    secrets:
      - postgresql_password
  odoo-db:
    image: postgres:13
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgresql_password
      - POSTGRES_USER=usr_odoo
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - type: bind
        source: /var/data/accounterprise/pgdata
        target: /var/lib/postgresql/data/pgdata
    secrets:
      - postgresql_password

secrets:
  postgresql_password:
    file: odoo_pg_pass
